@import "../utilidades/_variables";

/* estilos footer */

.contenedorGeneral{
    footer{
        background-color: $colorSecundario;
        color: $colorTextoFooter;
        text-align: center;
        padding: 15px;
        font-size: 15px;
        font-family: cursive;
        .redes{
            text-align: center;
            a{
                margin-right: 20px;
            }
        }
    }
}