//imports
@import "../utilidades/_variables";
@import "../utilidades/_mixin";

/* section */
.contenedorGeneral{
    .heroSection{
        background-image: url('../img/bocaIndex.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        @include flexCenter;
        background-color: black ;
        position: relative;
    
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    
        .heroContenedor{
            text-align: center;
            z-index: 1;
            margin-bottom: 150px;
            h1{
                color: $colorPrincipal;
                font-size: 3rem;
                margin: 0;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            }
            p{
                color: $colorPrincipal;
                font-size: 1.5rem;
                margin: 20px 0;
            }
            a{
                background-color: $colorFondoHero; 
                color: $colorPrincipal;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                text-decoration: none;
                font-size: 1.2rem;
                transition: background-color 0.3s;
    
                &:hover{
                    background-color: $colorFondoHeroHover;
                }
            }
        }
    } 
}



/* main index */
.contenedorGeneral{
    main{
        .tituloPlantel{
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    
        .componenteUno{
            z-index: 900;
            div{
                h2{
                    .fondoBt{
                        background-color: $colorComponentes;
                    }
                }
            }
        }
    }  
}

