// import
@import "../utilidades/_variables";
@import "../utilidades/_mixin";

/* estilos tablet */

@media screen and (min-width:600px){
    .contenedorGeneral{
        //header
        header{
            display: flex;
            align-items: center;
            height: 100px;
            justify-content: space-between;
            position: sticky;
            top: 0;
            z-index: 1000;
            div{
                display: inline-block;
                padding: 1rem;
                margin-left: 3rem;
                a{
                    @include flexJustifyCenter;
                    img{
                        height: 100px;
                    }
             
                } 
            }

            .navBar{
                ul{
                    margin-right: 5rem;
                    li{
                        margin-right: 1.5rem;
                    }
                }
            }
        }



        .mainGaleria{
            .contenedorFotos{
                @include gridGaleriaTablet;

                .fotoUno{
                    display: none;
                }

                .fotoDos{
                    display: block;
                }

                .fotoTres{
                    display: none;
                }

                .fotoCuatro{
                    display: block;
                }

                .fotoCinco{
                    display: none;
                }

                .fotoSeis{
                    display: block;
                }

                .fotoSiete{
                    display: none;
                }

                .fotoOcho{
                    display: block;
                }
            }
        }

        .mainUbicacion{
            .mapaBombonera{
                @include flexJustifyCenter;
                iframe{
                    height: 400px;
                    width: 80%;
                }
            }
        }
    }
    
}
